{% extends 'base.html' %}

{% block title %}
Detail
{% endblock  %}

{% block content %}
<div >
{% for movie in  movies %}

<h1 class="d-flex justify-content-center">{{ movie.title }}</h1>
<p class="d-flex justify-content-center"> {{ movie.title_en }}</p>
<p class="d-flex justify-content-center"> {{ movie.description }}</p> 

<div class="d-flex justify-content-center">
<a href="{{ movie.poster_url }}" class="btn btn-dark">네이버 상세보기</a>
</div>

<div class="d-flex justify-content-center m-5">
<a href="/movies/" class="btn btn-dark">뒤로가기</a>
</div>

{% endfor %}
</div>
{% endblock  %}